// maxWidth-максимальная контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 1200;
$minWidth: 320;

$warningColor: #ff6a00;
$successColor: #39d353;
$errorColor: #ff0033;

$titleTxtColor: #070051;
$defaultTxtColor:#7E7D8E;

$accentColor: #2D50FB;

$mainBgColor:#ffff;
$accentBgColor: rgba(45, 80, 251, 0.8);


