// maxWidth-максимальная контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 1200;
$minWidth: 320;

$warningColor: #ff6a00;
$successColor: #39d353;
$errorColor: #ff0033;

$titleTxtColor: #000000;
$defaultTxtColor:#1d2127;

$accentColor: #2D50FB;

$mainBgColor:#ffff;
$accentBgColor: rgba(45, 80, 251, 0.1);

$footer-bg:#11151c;

$flex-spacer:1.5rem;