.header {
  box-shadow:  lighten($defaultTxtColor,70%) 0 0 6px 1px;
  position: sticky;
  top: 0;
  background-color: $mainBgColor;
  a {
    padding: 0.25rem;
    text-decoration: none;
    color: inherit;
  }
  &__contacts {
    display: flex;
    align-items: center;
    a {
      margin-right: 1.5rem;
    }
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{

    }
    &__ul{
      margin: 0;
      display: flex;
      align-items: center;
      list-style-type:none;
    }
    &__ul-item {
      margin: 0.5rem  2rem;
      padding: 0;
      font-family: Raleway-SemiBold;


    }
    &__menu-toggle{
      display: none;
    }
  }

}
