.main-title {
  margin-top: 1.5em;
  padding: 3em;
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;


  //background: linear-gradient(125deg, $accentBgColor 30%,  $accentColor 90%);
  border-radius: 30px;


  &__description {
    text-align: right;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    height: 100%;
    max-width: 60%;

    h1{
      font-family: Raleway-Black;
      @include fontSize(4,4.5);
      color:$titleTxtColor;
      margin-bottom: 0;
    }
    p{
      @include fontSize(1.6,2);
      max-width: 70%;

      .button {
        margin: 3em 0;
      }
    }
  }
  &__img {
    display: block;
    max-height: 50rem;
    max-width: 30%;
    object-fit: cover;
  }
}