* {
	box-sizing: border-box;

	outline-color: $accentColor;
	outline-width: 0.3rem;
	outline-offset: 0.2rem;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}


html {
	font-size: 62.5% ; // 10px

}

body {

	background-color: $mainBgColor;
	color: $defaultTxtColor;

	font-family: Raleway-Regular;

	@include fontSize(1.4,1.6);

}



.container {
	width: 100%;
	max-width: #{$maxWidth}px;
	margin: 0 auto;
	padding: 1.5rem 1rem;
}
